body {
  margin: 0;
  background-color: black;
}

#outer {
  width: 1070px;
  margin: 0 auto;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .015em;
  color: white;
  float: left;
  margin-left: 5px;
}

#right-matter {
  float: right;
  margin-top: 10px;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .015em;
  color: white;
}

#right-matter p {
  font-family: 'Abel', sans-serif;
  font-size: 14px;
  text-align: right;
  margin-top: -10px;
}
#right-matter p a {
  color: white;
  text-decoration: none;
}
.button {
  padding: 4px 8px 4px 8px;
  border-radius: 4px;  
  background-color: #707070;
}

.button:hover {
  background-color: #a0a0a0;  
}

.clear {clear: both;}

#content {
  position: relative;
  height: 753px;
  width: 1070px;
}

#canvas2 {
  margin-top: 200px;
  margin-left: 175px;
}
